<footer class="container py-5">
  <div class="row">
    <div class="col-12 col-md">
      <small class="d-block mb-3 text-muted">Controle de Produtos</small>
      <small class="d-block mb-3 text-muted">By: Filipe André da Silva</small>
      <small class="d-block mb-3 text-muted">© 2021</small>
    </div>
    <div class="col-6 col-md">
      <h5>Sobre</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="{% url 'home_page' %}">Quem somos?</a></li>
        <li><a class="link-secondary" href="{% url 'home_page' %}">Qual nosso objetivo?</a></li>
        <li><a class="link-secondary" href="{% url 'home_page' %}">Parcerias</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Recursos</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="{% url 'home_page' %}">Nossa plataforma</a></li>
        <li><a class="link-secondary" href="{% url 'home_page' %}">Ferramentas</a></li>
        <li><a class="link-secondary" href="{% url 'servico_web' %}">Serviço Web</a></li>
        <li><a class="link-secondary" href="{% url 'home_page' %}">Capacitação</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Contato</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="#">Email</a></li>
        <li><a class="link-secondary" href="#">Whatsapp</a></li>
        <li><a class="link-secondary" href="#">Telegram</a></li>
        <li><a class="link-secondary" href="#">Instagram</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Segurança</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="#">Termo e licenças</a></li>
        <li><a class="link-secondary" href="#">Contrato</a></li>
        <li><a class="link-secondary" href="#">Privacidade</a></li>
        <li><a class="link-secondary" href="#">LGPD</a></li>
      </ul>
    </div>
  </div>
</footer>